// Mobile First Design
* {
  box-sizing: border-box;
}
:root {
  scroll-behavior: smooth;
  --main-bg: rgba(252, 252, 252);
  --main-bg-a: rgba(252, 252, 252, 0.90);
  --navbar-color: rgb(235, 235, 235);
  // --navbar-color-a: rgba(235, 235, 235, 0.65);
  // --navbar-color: rgb(214, 214, 214);
  --navbar-color-a: rgba(214, 214, 214, 0.65);
  --navbar-color-border: rgb(214, 214, 214);
  --navbar-btn-a: rgba(214, 214, 214, 0.65);
  --navbar-btn-icon: rgb(45, 45, 45);
  --navbar-btn-border: rgb(214, 214, 214);
  --navbar-btn-border-a: rgb(214, 214, 214, 0.65);
  --color-logo:rgb(51, 51, 51);
  --color-heading: rgb(0, 119, 255);
  --color-text:#333333;
  --color-border: #bbbbbb;
  --li-anchor-color: rgb(0, 119, 255);
  --li-anchor-color-visited: blue;
  --li-hover-color: rgb(212, 211, 211);
  --li-border:rgb(51, 51, 51);
  --footer-bg-color-a: rgb(235, 235, 235, 1);
  // --section-particle-mask-a: linear-gradient(to bottom, transparent 60%, black 75%);
  --section-particles-mask-a: linear-gradient(to top, transparent 60%, black 100%);
  --section-bg-color-a: rgba(235, 235, 235, 0);
  --section-card-bg-a: rgba(235, 235, 235, 0);
  --section-card-bg-tech-a: rgba(235, 235, 235, 1);
  --section-card-tech-border-a: 0px solid rgba(10, 9, 9, 0);
  --section-card-padding: 0;
  --section-product-info-bg-a: rgba(235, 235, 235, 1);
  --section-product-info-border-a: initial;
  --section-product-card-border-a: initial;
  --section-product-card-bg-a: rgba(235, 235, 235, 1);
  --section-product-card-product-title-color: rgb(252, 252, 252);
  --section-product-card-justify-content-820: space-between;
  --section-product-card-flex-820: 0 0 49%;
  --section-product-card-img-color-overlay-a: 135deg, rgba(78,2,229,.8) 0%, rgba(157,28,237,.2) 100%;
}
:root.dark-winter {
  scroll-behavior: smooth;
  --main-bg: rgb(10, 9, 9);
  --main-bg-a: rgb(10, 9, 9, 0.75);
  --navbar-color: rgb(10, 9, 9);
  --navbar-color-a: rgba(10, 9, 9, 0.75);
  --navbar-color-border: #2de9f5;
  --navbar-btn-a: rgba(45, 233, 245, 1);
  --navbar-btn-icon:rgb(10, 9, 9);
  --navbar-btn-border: rgb(45, 233, 245);
  --navbar-btn-border-a: rgb(45, 233, 245, 1);
  --color-logo: rgb(45, 233, 245);
  --color-heading: rgb(45, 233, 245);
  --color-text:#B5B5B5;
  --color-border: rgb(45, 233, 245);
  --li-anchor-color: rgb(45, 233, 245);
  --li-anchor-color-visited: darkcyan;
  --li-hover-color: rgb(45, 233, 245);
  --li-border:rgb(45, 233, 245);
  --footer-bg-color-a:rgb(10, 9, 9, 1);
  --section-particles-mask-a: initial;
  --section-bg-color-a: rgba(10, 9, 9, 0);
  --section-card-bg-a: rgba(10, 9, 9, 0);
  --section-card-bg-tech-a: rgba(10, 9, 9, 0);
  --section-card-tech-border-a: 1px solid rgba(45, 233, 245, 1);
  --section-card-padding: 0;
  --section-product-info-bg-a: rgba(45, 233, 245, 0);
  --section-product-info-border-a: 0px solid rgba(45, 233, 245, 0);
  --section-product-card-border-a: 1px solid rgba(45, 233, 245, 1);
  --section-product-card-bg-a: rgba(10, 9, 9, 1);
  --section-product-card-product-title-color: rgb(252, 252, 252);
  --section-product-card-justify-content-820: space-between;
  --section-product-card-flex-820: 0 0 49%;
  --section-product-card-img-color-overlay-a: 135deg, rgba(45,233,245,0.25) 0%, rgba(45,233,245,.2) 100%;
}
:root.dark-summer {
  scroll-behavior: smooth;
  --main-bg: rgb(51, 51, 51);
  --main-bg-a: rgb(51, 51, 51, 0.75);
  --navbar-color: rgb(51, 51, 51);
  --navbar-color-a: rgba(51, 51, 51, 0.75);
  --navbar-color-border: rgb(255, 164, 0);
  --navbar-btn-a: rgba(255, 164, 0, 1);
  --navbar-btn-icon:rgb(45, 45, 45);
  --navbar-btn-border: rgb(255, 164, 0);
  --navbar-btn-border-a: rgb(255, 164, 0, 1);
  --color-logo: rgb(255, 164, 0);
  --color-heading: rgb(255, 164, 0);
  --color-text:#B5B5B5;
  --color-border: rgb(255, 164, 0);
  --li-anchor-color: rgb(255, 164, 0);
  --li-anchor-color-visited: rgb(212, 117, 1);
  --li-hover-color: rgb(255, 164, 0);
  --li-border:rgb(255, 164, 0);
  --footer-bg-color-a: rgb(67, 67, 67, 1);
  --section-particles-mask-a: initial;
  --section-bg-color-a: rgba(67, 67, 67, 1);
  --section-card-bg-a: rgba(67, 67, 67, 1);
  --section-card-bg-tech-a: rgba(67, 67, 67, 1);
  --section-card-tech-border-a: 0px solid rgba(255, 164, 0, 0);
  --section-card-padding: 0.5rem;
  --section-product-info-bg-a: rgba(235, 235, 235, 0);
  --section-product-info-border-a: initial;
  --section-product-card-border-a: 0px solid rgba(255, 164, 0, 0);
  --section-product-card-bg-a: rgba(51, 51, 51, 1);
  --section-product-card-product-title-color: rgb(252, 252, 252);
  --section-product-card-justify-content-820: space-evenly;
  --section-product-card-flex-820: 0 0 48%;
  --section-product-card-img-color-overlay-a: 135deg, rgba(255,164,0,0.15) 0%, rgba(255,164,0,0) 100%;
}
h1 { font-size: 2em; font-weight: 800; }
h2 { font-size: 1.5em; font-weight: 600;}
h3 { font-size: 1.17em; }
h4 { font-size: 1.02em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }
body {
  margin: 0px;
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.2;
  background-color: var(--main-bg);
  color: var(--color-text);
}
.container {
  width: 80%;
  margin: 0 auto;
}