// Mobile First Design
* {
  box-sizing: border-box;
}
:root {
  --main-bg: rgba(252, 252, 252);
  --main-bg-a: rgba(252, 252, 252, 0.90);
  // --navbar-color: rgb(235, 235, 235);
  // --navbar-color-a: rgba(235, 235, 235, 0.65);
  --navbar-color: rgb(214, 214, 214);
  --navbar-color-a: rgba(214, 214, 214, 0.65);
  --navbar-color-border: rgb(214, 214, 214);
  --navbar-btn-a: rgba(214, 214, 214, 0.65);
  --navbar-btn-icon: rgb(45, 45, 45);
  --navbar-btn-border: rgb(214, 214, 214);
  --navbar-btn-border-a: rgb(214, 214, 214, 0.65);
  --color-logo:rgb(51, 51, 51);
  --color-heading: rgb(0, 119, 255);
  --color-text:#333333;
  --color-border: #bbbbbb;
  --li-anchor-color: rgb(0, 119, 255);
  --li-anchor-color-visited: blue;
  --li-hover-color: rgb(212, 211, 211);
  --li-border:rgb(51, 51, 51);
  --footer-bg-color-a: rgb(235, 235, 235, 1);
  // --section-particle-mask-a: linear-gradient(to bottom, transparent 60%, black 75%);
  --section-particles-mask-a: linear-gradient(to top, transparent 60%, black 100%);
  --section-bg-color-a: rgba(235, 235, 235, 0);
  --section-card-bg-a: rgba(235, 235, 235, 0);
  --section-card-bg-tech-a: rgba(235, 235, 235, 1);
  --section-card-tech-border-a: 0px solid rgba(10, 9, 9, 0);
  --section-card-padding: 0;
  --section-product-info-bg-a: rgba(235, 235, 235, 1);
  --section-product-info-border-a: initial;
  --section-product-card-border-a: initial;
  --section-product-card-bg-a: rgba(235, 235, 235, 1);
  --section-product-card-product-title-color: rgb(252, 252, 252);
  --section-product-card-justify-content-820: space-between;
  --section-product-card-flex-820: 0 0 49%;
  --section-product-card-img-color-overlay-a: 135deg, rgba(78,2,229,.8) 0%, rgba(157,28,237,.2) 100%;
}
:root.dark-winter {
  --main-bg: rgb(10, 9, 9);
  --main-bg-a: rgb(10, 9, 9, 0.75);
  --navbar-color: rgb(10, 9, 9);
  --navbar-color-a: rgba(10, 9, 9, 0.75);
  --navbar-color-border: #2de9f5;
  --navbar-btn-a: rgba(45, 233, 245, 1);
  --navbar-btn-icon:rgb(10, 9, 9);
  --navbar-btn-border: rgb(45, 233, 245);
  --navbar-btn-border-a: rgb(45, 233, 245, 1);
  --color-logo: rgb(45, 233, 245);
  --color-heading: rgb(45, 233, 245);
  --color-text:#B5B5B5;
  --color-border: rgb(45, 233, 245);
  --li-anchor-color: rgb(45, 233, 245);
  --li-anchor-color-visited: darkcyan;
  --li-hover-color: rgb(45, 233, 245);
  --li-border:rgb(45, 233, 245);
  --footer-bg-color-a:rgb(10, 9, 9, 1);
  --section-particles-mask-a: initial;
  --section-bg-color-a: rgba(10, 9, 9, 0);
  --section-card-bg-a: rgba(10, 9, 9, 0);
  --section-card-bg-tech-a: rgba(10, 9, 9, 0);
  --section-card-tech-border-a: 1px solid rgba(45, 233, 245, 1);
  --section-card-padding: 0;
  --section-product-info-bg-a: rgba(45, 233, 245, 0);
  --section-product-info-border-a: 0px solid rgba(45, 233, 245, 0);
  --section-product-card-border-a: 1px solid rgba(45, 233, 245, 1);
  --section-product-card-bg-a: rgba(10, 9, 9, 1);
  --section-product-card-product-title-color: rgb(252, 252, 252);
  --section-product-card-justify-content-820: space-between;
  --section-product-card-flex-820: 0 0 49%;
  --section-product-card-img-color-overlay-a: 135deg, rgba(45,233,245,0.25) 0%, rgba(45,233,245,.2) 100%;
}
:root.dark-summer {
  --main-bg: rgb(51, 51, 51);
  --main-bg-a: rgb(51, 51, 51, 0.75);
  --color-navbar: rgb(51, 51, 51);
  --navbar-color-a: rgba(51, 51, 51, 0.75);
  --navbar-color-border: rgb(255, 164, 0);
  --navbar-btn-a: rgba(255, 164, 0, 1);
  --navbar-btn-icon:rgb(45, 45, 45);
  --navbar-btn-border: rgb(255, 164, 0);
  --navbar-btn-border-a: rgb(255, 164, 0, 1);
  --color-logo: rgb(255, 164, 0);
  --color-heading: rgb(255, 164, 0);
  --color-text:#B5B5B5;
  --color-border: rgb(255, 164, 0);
  --li-anchor-color: rgb(255, 164, 0);
  --li-anchor-color-visited: rgb(212, 117, 1);
  --li-hover-color: rgb(255, 164, 0);
  --li-border:rgb(255, 164, 0);
  --footer-bg-color-a: rgb(67, 67, 67, 1);
  --section-particles-mask-a: initial;
  --section-bg-color-a: rgba(67, 67, 67, 1);
  --section-card-bg-a: rgba(67, 67, 67, 1);
  --section-card-bg-tech-a: rgba(67, 67, 67, 1);
  --section-card-tech-border-a: 0px solid rgba(255, 164, 0, 0);
  --section-card-padding: 0.5rem;
  --section-product-info-bg-a: rgba(235, 235, 235, 0);
  --section-product-info-border-a: initial;
  --section-product-card-border-a: 0px solid rgba(255, 164, 0, 0);
  --section-product-card-bg-a: rgba(51, 51, 51, 1);
  --section-product-card-product-title-color: rgb(252, 252, 252);
  --section-product-card-justify-content-820: space-evenly;
  --section-product-card-flex-820: 0 0 48%;
  --section-product-card-img-color-overlay-a: 135deg, rgba(255,164,0,0.15) 0%, rgba(255,164,0,0) 100%;
}
h1 { font-size: 2em; font-weight: 800; }
h2 { font-size: 1.5em; font-weight: 600;}
h3 { font-size: 1.17em; }
h4 { font-size: 1.02em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }
body {
  margin: 0px;
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.2;
  background-color: var(--main-bg);
  color: var(--color-text);
  // &.dark-winter{
  //   background-color: var(--dark-primary);
  //   color: var(--dark-color-text);
  // }
  // &.dark-summer {
  //   background-color: var(--dark-bg);
  //   color: var(--dark-color-text);
  // }
}
.container {
  width: 80%;
  margin: 0 auto;
}
// h1 {
  // font-weight: 700;
// }
// body {
  // background-color: #5b5757;
  // background-color: #0a0909; // ---
//   background-color: $dark-bg;
  // background-color: #1d0404;
//   height: 100%;
//   line-height: 1.4;
//   font-family: 'Rubik', Arial, Helvetica, sans-serif;
  // width: 100%;
//   .nav-header {
//     color: $dark-pt-winter;
//     text-align: center;
//     padding: 1em 0;
  //   z-index: 200;
//     background-color: $dark-primary;
//     .nav-container {
//       width: 80%;
//       max-width: 1100px;
//       margin: 0 auto;
      // added for toggle positioning
      //     position: relative;
//       .nav {
//         width: 100%;
        // visibility: hidden;
//         height: 0;
//         font-size: 1rem;
//         &__item-list {
//           list-style: none;
//           margin: 0;
//           padding: 0 2rem;
//         }
//         &__item {
//           margin-top: 0.75em;
//         }
//         &__link {
          // margin does not work on inline elements like links
//           color: #fff;
          // text-transform: uppercase;
//           text-decoration: none;
//           &:hover, &:focus {
//             opacity: 0.65;
//           }
//         }
//       }
//     }
//   }
//   .hero {
//     height: 100vh;
//     background-color: $dark-primary;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     .hero-content {
//       position: absolute;
//       .center-content {
//         text-transform: uppercase;
//         color: $dark-pt-winter;
//         padding: 2em 4em;
//         background-color: $dark-primary;
//         border-radius: 15px;
//         border: solid 2px $dark-pt-winter;
//         &.text {
//           margin: 0 auto;
          // justify-content: space-between;
//         }
//       }
//     }
//   }
//   .container {
    // background-color: $dark-panel;
//     width: 80%;
//     margin: 0 auto;
    // margin: 5em;
    

//     .top {
//       h1 {
//         color: $dark-color-heading;
//         text-align: center;
//       }
//     }
//     .content {
//       background-color: $dark-bg-panel;
//       padding: 5em;
//       border-radius: 15px;
//       p {
//         color: $dark-color-text;
//         font-size: 1.1em;
//         line-height: 1.7em;
//         margin-top: 2em;
//       }
//     }
//     #particles-js {
//       height: 100vh;
//       width: 100%;
      // bottom: 0;
      // position: relative;
      // border-radius: 2px solid white;
//       -webkit-mask-image: linear-gradient(to bottom, transparent 70%, black 75%);
//       mask-image: linear-gradient(to bottom, transparent 70%, black 100%);
    // }
    // .theme {

      // display: none;
      // background: rgb(86, 86, 114);
      // &.active {
        // display: block;
        // background: grey;
      // }
    
    // }

    // #particles-js + .active {display: block;}
//   }
// }

// input[type=checkbox]{
// 	height: 0;
// 	width: 0;
// 	visibility: hidden;
// }

// label {
// 	cursor: pointer;
// 	text-indent: -9999px;
// 	width: 52px;
// 	height: 27px;
// 	background: grey;
// 	float: right;
// 	border-radius: 100px;
// 	position: relative;
// }

// label:after {
// 	content: '';
// 	position: absolute;
// 	top: 3px;
// 	left: 3px;
// 	width: 20px;
// 	height: 20px;
// 	background: #fff;
// 	border-radius: 90px;
// 	transition: 0.3s;
// }

// input:checked + label {
// 	background: $dark-color-heading;
// }

// input:checked + label:after {
// 	left: calc(100% - 5px);
// 	transform: translateX(-100%);
// }

// label:active:after {
// 	width: 45px;
// }

// html.transition,
// html.transition *,
// html.transition *:before,
// html.transition *:after {
//   transition: all 750ms !important;
//   transition-delay: 0 !important;
// }

// Desktop Design 820 or larger
// :root {
  // height: 100%;
  // align-items: center;
  // justify-items: center;
//   $light-bg;
//   $light-bg-panel;
//   $light-color-heading;
//   $light-color-text;
// }
// access attr of the html tag
// html[data-theme="light"] {
//   $dark-bg;
//   $dark-panel;
//   $dark-color-heading;
//   $dark-color-text;
// }
// ========================================


  // .container {
    // width: 100%;
    // .central {
      // h1, h2, p {
        // text-align: center;
        // color: white;
        // font-weight: 300;
      // }
      // justify-content: center;
      // .info-card {
      //   border: 2px solid rgb(245, 58, 58);
      //   border-radius: 5px;
      //   max-height: 1000px;
      //   margin: 0 auto;
      //   // align-items: center;
      //   // justify-content: center;
      //   max-width: 50%;
      //   p {
      //     margin: 10px 20px 10px 20px;
      //   }
      //   strong {
      //     color: rgb(241, 13, 146);
      //   }
      // }
      // .info-card__image {
      //   max-width: 420px;
      //   max-height: 820px;
      //   margin: 10px auto 0px;
      //   border: 2px solid teal;
      //   border-radius: 5px;
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   overflow: hidden;
      //   img {
      //     max-height: 100%;
      //     max-width: 100%;
      //     flex-shrink: 0;
      //     // min-width: 100%;
      //     // min-height: 100%
      //   }
      // }
    // }
  // }
// }

// a maximum of "x"px and smaller
// desktop display... considered desktop first
// @media (max-width: 800px) {}
  
// combine media features to create a media query that only works between both specified sizes:

// @media (min-width: 600px) and (max-width: 900px{...}

// minimum of "x"px and bigger - known as mobile-first, 
// @media (min-width: 800px) {}
/*
   Make the navigation layout work
   on both mobile and large screens.

   Mobile-first, so mobile styles first,
   then add the large screen styles
   inside the existing media query

*/