<%- include(('../includes/head.ejs')); %>
  <title>Project | E-Commerce</title>
</head>
<body>
  <%- include(('../includes/navbar.ejs')); %>
  <main class="container">
    <section class="section">
      <div class="section__card">
        <h2 class="section__title">
          E-Commerce Project
        </h2>
        <div class="product">
          <div class="product__card">
            <a href="#">
              <div class="product__img img1">
                <div class="color-overlay">
                  <h3 class="product__title">
                    Social Media
                  </h3>
                </div>
              </div>
            </a>
            <div class="product__info">
              <div class="product__resources">
                <ul>
                  <li>
                    <a href="#">
                      <i class="fab fa-github"></i>
                      Code
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fas fa-angle-double-right"></i>
                      Visit
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fas fa-info-circle"></i>
                      Info
                    </a>
                  </li>
                </ul>
              </div>
              <div class="product__description">
                Utilizing Postgres, NodeJS, ReactJS, Redux, and Express. This website is focused on highlighting those important to you in your perosnal community.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>



  <section class="section">
  <div class="section__card card--tech">
    <h2 class="section__title">
      Technologies I use:
    </h2>
    <div class="tech">
      <h3>Familiar with:</h3>
      <div class="tech__set">
        <div class="tech__skills">
          <div class="tech__skill_col">
            <p>HTML</p>
            <p>CSS</p>
            <p>JavaScript</p>
            <p>Sass</p>
          </div>
          <div class="tech__skill_col">
            <p>ReactJs</p>
            <p>Redux</p>
            <p>EJS</p>
          </div>
        </div>
        <div class="tech__skills">
          <div class="tech__skill_col">
            <p>Express</p>
            <p>MongoDB</p>
            <p>Postgres</p>
            <p>MySQL</p>
          </div>
          <div class="tech__skill_col">
            <p>APIs</p>
            <p>Git</p>
            <p>Gulp</p>
            <p>Webpack</p>
          </div>
        </div>
      </div>
      <h3>Dipped my toes in:</h3>
      <div class="tech__set">
        <div class="tech__skills">
          <div class="tech__skill_col">
            <p>Laravel</p>
            <p>PHP</p>
          </div>
          <div class="tech__skill_col">
            <p>Zurb</p>
            <p>HTML E-Mails</p>
          </div>
        </div>
        <div class="tech__skills">
          <div class="tech__skill_col">
            <p>Wordpress</p>
            <p>AdonisJS</p>
          </div>
          <div class="tech__skill_col">
            <p>HandlebarsJS</p>
            <p>TypeScript</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include(('../includes/end.ejs')); %>