  <footer class="footer">
    <div class="footer__container">
      <h2 class="footer__title">
        Contact Me At: 
      </h2>
      <p>Email me at: <span class="para-email">acesanchez13@att.net</span></p>
      <p>I can make you a professional website.</p>
    </div>
    <div class="footer__copyright">
      <p>Created By Jor-EL Sanchez | Copyright &copy; 2020</p>
    </div>
  </footer>

  <script defer type="text/javascript" src="../index.bundle.js"></script>
  </body>
</html>