<section class="section">
  <div class="section__card">
    <h2 class="section__title">
      Projects
    </h2>
    <div class="product">
      <div class="product__card">
        <a href="/pages/project-social-detail.html">
          <div class="product__img img1">
            <div class="color-overlay">
              <h3 class="product__title">
                Social Media
              </h3>
            </div>
          </div>
        </a>
        <div class="product__info">
          <div class="product__resources">
            <ul>
              <li>
                <a href="#">
                  <i class="fab fa-github"></i>
                  Code
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-angle-double-right"></i>
                  Visit
                </a>
              </li>
              <li>
                <a href="/pages/project-social-detail.html">
                  <i class="fas fa-info-circle"></i>
                  Info
                </a>
              </li>
            </ul>
          </div>
          <div class="product__description">
            Utilizing Postgres, NodeJS, ReactJS, Redux, and Express. This website is focused on highlighting those important to you in your perosnal community.
          </div>
        </div>
      </div>
      <div class="product__card">
        <a href="/pages/project-weather-detail.html">
          <div class="product__img img2">
            <div class="color-overlay">
              <h3 class="product__title">
                Weather Track
              </h3>
            </div>
          </div>
        </a>
        <div class="product__info">
          <div class="product__resources">
            <ul>
              <li>
                <a href="#">
                  <i class="fab fa-github"></i>
                  Code
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-angle-double-right"></i>
                  Visit
                </a>
              </li>
              <li>
                <a href="/pages/project-weather-detail.html">
                  <i class="fas fa-info-circle"></i>
                  Info
                </a>
              </li>
            </ul>
          </div>
          <div class="product__description">
            Built with MongoDB, NodeJS, ReactJS, Redux, and Express.Let's Chat Does not matter what topic!
          </div>
        </div>
      </div>
      <div class="product__card">
        <a href="/pages/project-restaurant-detail.html">
          <div class="product__img img3">
            <div class="color-overlay">
              <h3 class="product__title">
                Restaurant
              </h3>
            </div>
          </div>
        </a>
        <div class="product__info">
          <div class="product__resources">
            <ul>
              <li>
                <a href="#">
                  <i class="fab fa-github"></i>
                  Code
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-angle-double-right"></i>
                  Visit
                </a>
              </li>
              <li>
                <a href="/pages/project-restaurant-detail.html">
                  <i class="fas fa-info-circle"></i>
                  Info
                </a>
              </li>
            </ul>
          </div>
          <div class="product__description">
            Made with love - along with MySQL, NodeJS, ReactJS, Redux, and Express. Do you like food? Can't find what you want. Locate the neighborhood food truck closest to you!
          </div>
        </div>
      </div>
      <div class="product__card">
        <a href="/pages/project-ecom-detail.html">
          <div class="product__img img4">
            <div class="color-overlay">
              <h3 class="product__title">
                E-Commerce
              </h3>
            </div>
          </div>
        </a>
        <div class="product__info">
          <div class="product__resources">
            <ul>
              <li>
                <a href="#">
                  <i class="fab fa-github"></i>
                  Code
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-angle-double-right"></i>
                  Visit
                </a>
              </li>
              <li>
                <a href="/pages/project-ecom-detail.html">
                  <i class="fas fa-info-circle"></i>
                  Info
                </a>
              </li>
            </ul>
          </div>
          <div class="product__description">
            Utilizing Postgres, NodeJS, ReactJS, Redux, and Express. Buy tech, make-up, and all sorts of gear available in this online store.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>