<section class="section">
  <div class="section__card card--tech">
    <h2 class="section__title">
      Technologies I use:
    </h2>
    <div class="tech">
      <h3>Familiar with:</h3>
      <div class="tech__set">
        <div class="tech__skills">
          <div class="tech__skill_col">
            <p>HTML</p>
            <p>CSS</p>
            <p>JavaScript</p>
            <p>Sass</p>
          </div>
          <div class="tech__skill_col">
            <p>ReactJs</p>
            <p>Redux</p>
            <p>EJS</p>
          </div>
        </div>
        <div class="tech__skills">
          <div class="tech__skill_col">
            <p>Express</p>
            <p>MongoDB</p>
            <p>Postgres</p>
            <p>MySQL</p>
          </div>
          <div class="tech__skill_col">
            <p>APIs</p>
            <p>Git</p>
            <p>Gulp</p>
            <p>Webpack</p>
          </div>
        </div>
      </div>
      <h3>Dipped my toes in:</h3>
      <div class="tech__set">
        <div class="tech__skills">
          <div class="tech__skill_col">
            <p>Laravel</p>
            <p>PHP</p>
          </div>
          <div class="tech__skill_col">
            <p>Zurb</p>
            <p>HTML E-Mails</p>
          </div>
        </div>
        <div class="tech__skills">
          <div class="tech__skill_col">
            <p>Wordpress</p>
            <p>AdonisJS</p>
          </div>
          <div class="tech__skill_col">
            <p>HandlebarsJS</p>
            <p>TypeScript</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>