#theme-active {
  border-radius: 3px 0px 0px 3px;
}
#theme-switch {
  border-radius: 0px 3px 3px 0px;
}
.nav-btn {
  background-color: var(--navbar-btn-a);
  color: var(--navbar-btn-icon);
  border: 2px solid var(--color-navbar-border-a);
  transition: 0.5s;
  padding: 5px 9px;
}